/*
* =================================================================================================
*   Base
* =================================================================================================
*/
:root {
    --header-height: 77px;
    --container-width: 1530px;
    --container-padding-x: 15px;
    --border-radius-lg: 16px;
    --border-radius-md: 12px;

    --accent: #4b91f3;
    --grey-4: #394760;
    --grey-3: #26324a;
    --grey-2: #19202e;
    --grey-1: #10151e;
    --white-0: #ffffff;
    --text-color: #ebf5fe;
    --text-color-2: #b4b8cc;
    --text-color-3: #f3feff;
    --text-color-4: #ebebeb;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    line-height: 1.6;
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--grey-1);
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
select,
button {
    font: inherit;
}

picture {
    display: inline-block;
    line-height: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

::selection {
    background: var(--accent);
    color: var(--white-0);
}

::-moz-selection {
    background: var(--accent);
    color: var(--white-0);
}

/*
* =================================================================================================
*   Main
* =================================================================================================
*/
body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-block: 30px 70px;
    margin-top: var(--header-height);
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px 33px;
    background: var(--grey-3);
    border-radius: var(--border-radius-md);
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--white-0);
    cursor: pointer;
    border: 0;
    text-decoration: none;
}

.btn:hover {
    background: var(--grey-2);
}

.btn.btn-primary {
    background: linear-gradient(7deg, #2450bf 0%, #5777e0 100%);
}

.btn.btn-primary:hover {
    background: linear-gradient(0deg, rgba(24, 38, 44, 0.2), rgba(24, 38, 44, 0.2)), linear-gradient(7deg, #2450bf 0%, #5777e0 100%);
}

.btn.btn-secondary {
    background: linear-gradient(7deg, #ff1732 0%, #ff545b 100%);
}

.btn.btn-secondary:hover {
    background: linear-gradient(7deg, rgba(24, 38, 44, 0.2), rgba(24, 38, 44, 0.2)), linear-gradient(7deg, #ff1732 0%, #ff545b 100%);
}

/*
* =================================================================================================
*   Header
* =================================================================================================
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: var(--grey-1);
    height: var(--header-height);
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    gap: 10px;
}

.header__lang {
    display: flex;
    align-items: center;
    /*position: relative;*/
}

.header__lang .lang-selector {
    background: transparent;
    border-color: transparent;
}

/*
* =================================================================================================
*   Section - Headings
* =================================================================================================
*/
section > .heading {
    margin-bottom: 24px;
}

section > .heading h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 5px;
}

section > .heading h2 span {
    color: var(--accent);
}

section > .heading p {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color-2);
}

/*
* =================================================================================================
*   Section - Hero
* =================================================================================================
*/
/*
* =================================================================================================
*   Section - Offers
* =================================================================================================
*/
.offers .item {
    background: var(--grey-2);
    border: 1px solid var(--grey-4);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1.16;
}

.offers .item:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 85%;
    height: 75%;
    transform: translateX(-50%);
    border-radius: 50%;
    filter: blur(35px);
    z-index: 1;
}

.offers .swiper-slide:nth-child(4n + 1) .item:after {
    background: radial-gradient(
            circle,
            rgba(255, 80, 80, 0.9) 0%,
            rgba(255, 80, 80, 0.3) 40%,
            rgba(255, 80, 80, 0.05) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 2) .item:after {
    background: radial-gradient(
            circle,
            rgba(0, 200, 255, 0.9) 0%,
            rgba(0, 200, 255, 0.35) 40%,
            rgba(0, 200, 255, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 3) .item:after {
    background: radial-gradient(
            circle,
            rgba(80, 255, 150, 0.9) 0%,
            rgba(80, 255, 150, 0.3) 40%,
            rgba(80, 255, 150, 0.08) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 4) .item:after {
    background: radial-gradient(
            circle,
            rgba(0, 150, 255, 0.9) 0%,
            rgba(0, 150, 255, 0.35) 40%,
            rgba(0, 150, 255, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 20px 35px;
    gap: 10px;
}

.offers .item picture {
    width: 88%;
    height: 65%;
    display: block;
    margin-inline: auto;
}

.offers .item picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offers .item h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    color: var(--text-color-3);
}

/*
* =================================================================================================
*   Section - Games
* =================================================================================================
*/
.games .item {
    background: var(--grey-2);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
}

.games .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.games .item picture {
    width: 100%;
    height: 100%;
    display: block;
}

.games .item picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
* =================================================================================================
*   Section - Providers
* =================================================================================================
*/
.providers .item {
    background: var(--grey-2);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 0.58;
}

.providers .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.providers .item__image {
    flex: 1;
    display: flex;
}

.providers .item__image img {
    width: 68.5%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.providers .item__info {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--grey-3);
    border-end-start-radius: var(--border-radius-lg);
    border-end-end-radius: var(--border-radius-lg);
    overflow: hidden;
}

.providers .item__info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--white-0);
}

.providers .item__info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--white-0);
}

/*
* =================================================================================================
*   Section - Benefits
* =================================================================================================
*/
.benefits .item {
    position: relative;
    aspect-ratio: 1 / 0.68;
}

.benefits .item:after {
    content: "";
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    border-radius: var(--border-radius-lg);
    overflow: hidden;
}

.benefits .swiper-slide:nth-child(3n + 1) .item:after {
    background: radial-gradient(80.14% 43.04% at 73.94% 6.96%, #4b91f3 0%, rgba(75, 145, 243, 0) 100%), #1d2535;
}

.benefits .swiper-slide:nth-child(3n + 2) .item:after {
    background: radial-gradient(75.42% 81.56% at 76.74% -17.69%, #56f470 0%, rgba(86, 244, 112, 0) 100%), #1d2535;
}

.benefits .swiper-slide:nth-child(3n + 3) .item:after {
    background: radial-gradient(80.14% 43.04% at 73.94% 6.96%, #fe545a 0%, rgba(254, 84, 90, 0) 100%), #1d2535;
}

.benefits .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.benefits .item__image {
    flex: 1;
    display: flex;
}

.benefits .item__image img {
    width: 48%;
    height: auto;
    object-fit: contain;
    margin: 0 auto auto;
}

.benefits .item__info {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 12% 5%;
}

.benefits .item__info h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 156%;
    text-align: center;
    color: var(--text-color);
}

.benefits .item__info p {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: var(--text-color-3);
}

/*
* =================================================================================================
*   Section - Testimonials
* =================================================================================================
*/
.testimonials .item {
    background: var(--grey-2);
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 0.715;
}

.testimonials .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding: 6.6%;
}

.testimonials .item__content h4 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: var(--white-0);
}

.testimonials .item__content p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--white-0);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.testimonials .item__rate {
    display: flex;
    margin-block: 3.3%;
    gap: .7%;
}

/*
* =================================================================================================
*   Section - Two Column
* =================================================================================================
*/
.two-column {
    display: flex;
    flex-direction: row;
    column-gap: 8.5%;
}

.two-column.--column-reverse {
    flex-direction: row-reverse;
}

.two-column > * {
    flex: 1;
}

.two-column__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.two-column__content h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    color: var(--text-color);
}

.two-column__content h2 span {
    color: var(--accent);
}

.two-column__content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: var(--text-color-2);
    margin-bottom: 2%;
}

.two-column__content button {
    align-self: baseline;
}

/*
* =================================================================================================
*   Section - SEO Text
* =================================================================================================
*/
.seo-text__overflow {
    max-height: 10000px;
    text-align: justify;
    transition: max-height .5s ease-in-out;
    position: relative;
    overflow: hidden;
}

.seo-text__overflow.hidden {
    max-height: 325px;
}

.seo-text__overflow.hidden::before {
    content: "";
    height: 100%;
    background: linear-gradient(180deg, rgba(16, 21, 30, 0) 0%, var(--grey-1) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity .3s .1s ease;
    opacity: 1;
}

.seo-text h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    color: var(--text-color-3);
    margin-bottom: 20px;
}

.seo-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color-2);
    margin-bottom: 15px;
}

.seo-text .seo-text__expand {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color-2);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 10px;
}

.seo-text__expand span {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease;
}

/*
* =================================================================================================
*   Footer - Grid Layout
* =================================================================================================
*/
.footer {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-areas:
        "logo info info lang"
        "menu menu help help"
        "menu menu subscribe subscribe"
        "copyright copyright copyright copyright";
}

.footer__logo {
    grid-area: logo;
}

.footer__info {
    grid-area: info;
}

.footer__lang {
    grid-area: lang;
}

.footer__menu {
    grid-area: menu;
}

.footer__help {
    grid-area: help;
}

.footer__subscribe {
    grid-area: subscribe;
}

.footer__copyright {
    grid-area: copyright;
}

/*
* =================================================================================================
*   Footer
* =================================================================================================
*/
footer {
    background: var(--grey-2);
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__info p {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--text-color-4);
}

.footer__lang {
    display: flex;
    align-items: center;
    justify-content: end;
    /*position: relative;*/
}

.footer__menu {
}

.footer__menu ul {
    list-style: none;
}

.footer__menu ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color-2);
}

.footer__menu ul li:first-child a {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color-4);
}

.footer__help {
}

.footer__help h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-color-4);
}

.footer__help p {
    font-weight: 400;
    font-size: 16px;
    line-height: 179%;
    color: var(--text-color-2);
}

.footer__subscribe {
}

.footer__subscribe .form-group {
    display: flex;
    gap: 10px;
}

.footer__subscribe label[for=email] {
    font-weight: 400;
    font-size: 16px;
    line-height: 179%;
    color: var(--text-color-4);
}

.footer__subscribe input[type=email] {
    flex: 1;
    height: 50px;
    padding: 10px;
    background: var(--grey-3);
    color: var(--text-color-4);
    border: 1px solid var(--grey-3);
    border-radius: var(--border-radius-md);
    outline: none;
}

.footer__subscribe input[type=checkbox] {
}

.footer__subscribe label[for=agreed] {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--text-color-2);
}

.footer__copyright p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: rgba(163, 157, 175, 0.64);
}

/*
* =================================================================================================
*   Footer - Grid Borders
* =================================================================================================
*/
.footer {
    --footer-border-color: var(--grey-4);
}

.footer > * {
    padding-block: 20px;
}

.footer__menu,
.footer__help,
.footer__subscribe,
.footer__copyright {
    border-top: 1px solid var(--footer-border-color);
}

.footer__help,
.footer__subscribe {
    border-inline-start: 1px solid var(--footer-border-color);
    padding-inline-start: 20px;
}

/*
* =================================================================================================
*   Custom Checkbox
* =================================================================================================
*/
.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color-2);
}

.custom-checkbox .checkbox-visual {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--grey-3);
    border: 1px solid var(--grey-4);
    border-radius: 4px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-checkbox .checkbox-visual svg {
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + label .checkbox-visual {
    background-color: var(--accent);
    border-color: var(--accent);
}

.custom-checkbox input[type="checkbox"]:checked + label .checkbox-visual svg {
    display: block;
}

/*
* =================================================================================================
*   Language Selector
* =================================================================================================
*/
.lang-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background: var(--grey-2);
    border: 1px solid var(--grey-4);
    border-radius: var(--border-radius-md);
    width: fit-content;
    cursor: pointer;
}

.lang-selector span {
    font-weight: 400;
    font-size: 20px;
    line-height: 90%;
    color: var(--text-color-4);
}

/*
* =================================================================================================
*   Language Dropdown
* =================================================================================================
*/
.lang-dropdown {
    width: fit-content;
    position: absolute;
    background-color: var(--grey-3);
    /*border: 1px solid var(--grey-4);*/
    border-radius: var(--border-radius-md);
    padding: 10px;
    z-index: 10;
}

.lang-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lang-dropdown ul li a {
    display: block;
    padding: 5px 10px;
    color: var(--white-0);
    text-decoration: none;
    border-radius: 8px;
}

.lang-dropdown ul li a:hover {
    background-color: var(--grey-2);
}

.lang-flag {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.lang-dropdown ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    position: absolute;
    background: var(--grey-3);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
