/* Base */
:root {
    --accent: #4b91f3;
    --grey-4: #394760;
    --grey-3: #26324a;
    --grey-2: #19202e;
    --grey-1: #10151e;
    --text-color: #ebf5fe;
    --text-color-2: #b4b8cc;
    --text-color-3: #f3feff;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    line-height: 1.6;
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    --container-width: 1530px;
    --container-padding-x: 15px;

    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
    container: container / inline-size;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
select,
button {
    font: inherit;
}

picture {
    display: inline-block;
    line-height: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Main */
html {
    scrollbar-color: var(--accent) transparent;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--grey-1);
}

main {
    flex-grow: 1;
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color);
}

h2 span {
    color: var(--accent);
}

p {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color-2);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: var(--grey-1);
}

/* Section - Hero */
/* Section - Offers */
.offers .item {
    background: var(--grey-2);
    border: 1px solid var(--grey-4);
    border-radius: 16px;
    overflow: hidden;
}

.offers .item:before {
    content: "";
    display: block;
    padding-bottom: 116%;
}

.offers .item:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 85%;
    height: 75%;
    transform: translateX(-50%);
    border-radius: 50%;
    filter: blur(35px);
    z-index: 1;
}

.offers .swiper-slide:nth-child(4n + 1) .item:after {
    background: radial-gradient(
            circle,
            rgba(255, 80, 80, 0.9) 0%,
            rgba(255, 80, 80, 0.3) 40%,
            rgba(255, 80, 80, 0.05) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 2) .item:after {
    background: radial-gradient(
            circle,
            rgba(0, 200, 255, 0.9) 0%,
            rgba(0, 200, 255, 0.35) 40%,
            rgba(0, 200, 255, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 3) .item:after {
    background: radial-gradient(
            circle,
            rgba(80, 255, 150, 0.9) 0%,
            rgba(80, 255, 150, 0.3) 40%,
            rgba(80, 255, 150, 0.08) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 4) .item:after {
    background: radial-gradient(
            circle,
            rgba(0, 150, 255, 0.9) 0%,
            rgba(0, 150, 255, 0.35) 40%,
            rgba(0, 150, 255, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5% 20px 35px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.offers .item picture {
    width: 88%;
    height: 65%;
    display: block;
    margin-inline: auto;
}

.offers .item picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.offers .item h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    color: var(--text-color-3);
}

/* Section - Games */
.games .item {
    background: var(--grey-2);
    border: 1px solid var(--grey-4);
    border-radius: 16px;
    overflow: hidden;
}

.games .item:before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.games .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}

.games .item picture {
    width: 100%;
    height: 100%;
    display: block;
    margin-inline: auto;
}

.games .item picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

/* Section - Providers */
/* Section - Benefits */
/* Section - Testimonials */
/* Section - SEO Text */

/* Footer */
footer {
    background: var(--grey-3);
}