/* Base */
:root {
    --container-width: 1530px;
    --container-padding-x: 15px;
    --header-height: 77px;

    --accent: #4b91f3;
    --grey-4: #394760;
    --grey-3: #26324a;
    --grey-2: #19202e;
    --grey-1: #10151e;
    --white-0: #ffffff;
    --text-color: #ebf5fe;
    --text-color-2: #b4b8cc;
    --text-color-3: #f3feff;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    line-height: 1.6;
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--grey-1);
}

.container {
    /*--container-width: 1530px;
    --container-padding-x: 15px;*/

    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
    container: container / inline-size;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
select,
button {
    font: inherit;
}

picture {
    display: inline-block;
    line-height: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

::selection {
    background: var(--accent);
    color: var(--white-0);
}

::-moz-selection {
    background: var(--accent);
    color: var(--white-0);
}

/* Main */
body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    padding-block: 30px 70px;
    margin-top: var(--header-height);
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

button.btn {
    padding: 12px 33px;
    background: var(--grey-3);
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--white-0);
    cursor: pointer;
    border: 0;
}

button.btn:hover {
    background: var(--grey-2);
}

button.btn.btn-primary {
    background: linear-gradient(7deg, #2450bf 0%, #5777e0 100%);
}

button.btn.btn-primary:hover {
     background: linear-gradient(0deg, rgba(24, 38, 44, 0.2), rgba(24, 38, 44, 0.2)), linear-gradient(7deg, #2450bf 0%, #5777e0 100%);
 }

button.btn.btn-secondary {
    background: linear-gradient(7deg, #ff1732 0%, #ff545b 100%);
}

button.btn.btn-secondary:hover {
    background: linear-gradient(7deg, rgba(24, 38, 44, 0.2), rgba(24, 38, 44, 0.2)), linear-gradient(7deg, #ff1732 0%, #ff545b 100%);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: var(--grey-1);
    height: var(--header-height);
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    gap: 10px;
}

/* Section - Headings */
section > .heading {
    margin-bottom: 24px;
}

section > .heading h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 5px;
}

section > .heading h2 span {
    color: var(--accent);
}

section > .heading p {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: var(--text-color-2);
}

/* Section - Hero */
/* Section - Offers */
.offers .item {
    background: var(--grey-2);
    border: 1px solid var(--grey-4);
    border-radius: 16px;
    overflow: hidden;
}

.offers .item:before {
    content: "";
    display: block;
    padding-bottom: 116%;
}

.offers .item:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 85%;
    height: 75%;
    transform: translateX(-50%);
    border-radius: 50%;
    filter: blur(35px);
    z-index: 1;
}

.offers .swiper-slide:nth-child(4n + 1) .item:after {
    background: radial-gradient(
            circle,
            rgba(255, 80, 80, 0.9) 0%,
            rgba(255, 80, 80, 0.3) 40%,
            rgba(255, 80, 80, 0.05) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 2) .item:after {
    background: radial-gradient(
            circle,
            rgba(0, 200, 255, 0.9) 0%,
            rgba(0, 200, 255, 0.35) 40%,
            rgba(0, 200, 255, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 3) .item:after {
    background: radial-gradient(
            circle,
            rgba(80, 255, 150, 0.9) 0%,
            rgba(80, 255, 150, 0.3) 40%,
            rgba(80, 255, 150, 0.08) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .swiper-slide:nth-child(4n + 4) .item:after {
    background: radial-gradient(
            circle,
            rgba(0, 150, 255, 0.9) 0%,
            rgba(0, 150, 255, 0.35) 40%,
            rgba(0, 150, 255, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%
    );
}

.offers .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 20px 35px;
    gap: 10px;
}

.offers .item picture {
    width: 88%;
    height: 65%;
    display: block;
    margin-inline: auto;
}

.offers .item picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.offers .item h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    color: var(--text-color-3);
}

/* Section - Games */
.games .item {
    background: var(--grey-2);
    border-radius: 16px;
    overflow: hidden;
}

.games .item:before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.games .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.games .item picture {
    width: 100%;
    height: 100%;
    display: block;
    /*margin-inline: auto;*/
}

.games .item picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

/* Section - Providers */
.providers .item {
    background: var(--grey-2);
    border-radius: 16px;
    overflow: hidden;
}

.providers .item:before {
    content: "";
    display: block;
    padding-bottom: 58%;
}

.providers .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.providers .item__image {
    flex: 1;
    display: flex;
}

.providers .item__image img {
    width: 68.5%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.providers .item__info {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--grey-3);
    border-end-start-radius: 16px;
    border-end-end-radius: 16px;
    overflow: hidden;
}

.providers .item__info h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--white-0);
}

.providers .item__info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--white-0);
}

/* Section - Benefits */
.benefits .item {
    /*background: var(--grey-2);*/
    /*border-radius: 16px;
    overflow: hidden;*/
}

.benefits .item:before {
    content: "";
    display: block;
    padding-bottom: 68%;
}

.benefits .item:after {
    content: "";
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    border-radius: 16px;
    overflow: hidden;
}

.benefits .swiper-slide:nth-child(3n + 1) .item:after {
    background: radial-gradient(80.14% 43.04% at 73.94% 6.96%, #4b91f3 0%, rgba(75, 145, 243, 0) 100%), #1d2535;
}

.benefits .swiper-slide:nth-child(3n + 2) .item:after {
    background: radial-gradient(75.42% 81.56% at 76.74% -17.69%, #56f470 0%, rgba(86, 244, 112, 0) 100%), #1d2535;
}

.benefits .swiper-slide:nth-child(3n + 3) .item:after {
    background: radial-gradient(80.14% 43.04% at 73.94% 6.96%, #fe545a 0%, rgba(254, 84, 90, 0) 100%), #1d2535;
}

.benefits .item__content {
    /*background: var(--grey-2);*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.benefits .item__image {
    flex: 1;
    display: flex;
}

.benefits .item__image img {
    width: 48%;
    height: auto;
    object-fit: contain;
    margin: 0 auto auto;
}

.benefits .item__info {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 12% 5%;
}

.benefits .item__info h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 156%;
    text-align: center;
    color: var(--text-color);
}

.benefits .item__info p {
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: var(--text-color-3);
}

/* Section - Testimonials */
.testimonials .item {
    background: var(--grey-2);
    border-radius: 16px;
    overflow: hidden;
}

.testimonials .item:before {
    content: "";
    display: block;
    padding-bottom: 71.5%;
}

.testimonials .item__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding: 6.6%;
}

.testimonials .item__content h4 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: var(--white-0);
}

.testimonials .item__content p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--white-0);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.testimonials .item__rate {
    display: flex;
    margin-block: 3.3%;
    gap: .7%;
}

/* Section - Two Column */
.two-column {
    display: flex;
    flex-direction: row;
    column-gap: 8.5%;
}

.two-column.--column-reverse {
    flex-direction: row-reverse;
}

.two-column > * {
    flex: 1;
}

.two-column__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.two-column__content h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 125%;
    color: var(--text-color);
}

.two-column__content h2 span {
    color: var(--accent);
}

.two-column__content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: var(--text-color-2);
    margin-bottom: 2%;
}

.two-column__content button {
    align-self: baseline;
}

/* Section - SEO Text */
.seo-text__overflow {
    max-height: 10000px;
    text-align: justify;
    transition: max-height .3s ease;
    position: relative;
}

.seo-text__overflow.hidden {
    max-height: 325px;
    overflow: hidden;
    cursor: pointer;
}

.seo-text__overflow:not(.hidden) + .seo-text__expand span {
    transform: rotate(180deg);
}

.seo-text__overflow:before {
    content: "";
    height: 100%;
    /*max-height: 325px;*/
    background: linear-gradient(180deg, rgba(0, 14, 20, 0), var(--grey-1));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity .3s .1s ease;
}

.seo-text__overflow:not(.hidden):before {
    opacity: 0;
}

.seo-text h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    color: var(--text-color-3);
    margin-bottom: 20px;
}

.seo-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color-2);
    margin-bottom: 15px;
}

.seo-text a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-color-2);
}

a.seo-text__expand {
    display: flex;
    align-items: center;
}

a.seo-text__expand span {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease;
}

/* Footer */
footer {
    background: var(--grey-3);
}